.post-button {
  margin-top: 50px;

  .btn {
      font-size: 14px;
      background: transparent;
      border-radius: 0;
      line-height: 2;
      margin: 0 4px 8px 4px;
      box-shadow: 2px 2px 3px #666;
      border: 1px solid #999;
      padding: 0 15px;
      border-radius: 20px;
      background-color: #8193a9;
      color: #fff;
  }
  .btn:hover {
    background-color:#c0d3e2;
    color:#fff;
    border: 1px solid #999;

  }
  .fa-fw {
    width: (18em / 14);
    text-align: left;
  }
}
